<ion-view>
  <ion-content>

    <div class="ad ad_320"></div>

    <div class="article article__full">
      <span class="article__countries">
        <span class="article__country article__country_germany">GERMANY</span>
        <span class="article__country article__country_england">ENGLAND</span>
      </span>
      <div style="background-image:url(img/carousel-story-1.jpg)" class="article__thumb"></div>
      <div class="article__details">
        <h1 class="article__full-title">Lorem ipsum dolor sit amet adipiscing api</h1>
        <span class="article__full-meta">Johan - 25/01/2016 at 16:23</span>
        <p class="article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <p class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p class="article__text"><a href="#">more at uefa2016.com..</a></p>
      </div>
    </div>

    <div class="ad ad_320 ad_320_shoe"></div>

    <div class="ad ad_top"></div>

    <div class="title-bar">RELATED NEWS</div>

    <div class="article article_related">
          <span class="article__countries">
            <span class="article__country article__country_spain">SPAIN</span>
          </span>
      <div style="background-image:url(img/carousel-story-1.jpg)" class="article__thumb">
        <a href="#app/article/1" class="article__link"></a>
        <div class="article__meta">
          <h4 class="article__title">Lorem ipsum dolor sit amet adipiscing api</h4>
          <span class="article__source-time">soccer.com - 2h ago</span>
        </div>
      </div>
    </div>

    <div class="article article_related">
          <span class="article__countries">
            <span class="article__country article__country_spain">SPAIN</span>
          </span>
      <div style="background-image:url(img/carousel-story-2.jpg)" class="article__thumb">
        <a href="#app/article/1" class="article__link"></a>
        <div class="article__meta">
          <h4 class="article__title">Lorem ipsum dolor sit amet adipiscing api</h4>
          <span class="article__source-time">soccer.com - 2h ago</span>
        </div>
      </div>
    </div>

    <div class="article article_related">
          <span class="article__countries">
            <span class="article__country article__country_spain">SPAIN</span>
          </span>
      <div style="background-image:url(img/carousel-story-3.jpg)" class="article__thumb">
        <a href="#app/article/1" class="article__link"></a>
        <div class="article__meta">
          <h4 class="article__title">Lorem ipsum dolor sit amet adipiscing api</h4>
          <span class="article__source-time">soccer.com - 2h ago</span>
        </div>
      </div>
    </div>

    <div class="article article_related">
          <span class="article__countries">
            <span class="article__country article__country_spain">SPAIN</span>
          </span>
      <div style="background-image:url(img/carousel-story-4.jpg)" class="article__thumb">
        <a href="#app/article/1" class="article__link"></a>
        <div class="article__meta">
          <h4 class="article__title">Lorem ipsum dolor sit amet adipiscing api</h4>
          <span class="article__source-time">soccer.com - 2h ago</span>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
