<ion-view>
  <ion-content>

    <div class="ad ad_top"></div>

    <ion-slide-box does-continue="true">
      <ion-slide>
        <div class="article article__slide">
          <span class="article__countries">
            <span class="article__country article__country_spain">SPAIN</span>
          </span>
          <div style="background-image:url(img/carousel-story-1.jpg)" class="article__thumb">
            <a href="#app/article/1" class="article__link"></a>
            <div class="article__meta">
              <h4 class="article__title">Lorem ipsum dolor sit amet adipiscing api</h4>
              <span class="article__source-time">soccer.com - 2h ago</span>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="article article__slide">
          <span class="article__countries">
            <span class="article__country article__country_spain">SPAIN</span>
          </span>
          <div style="background-image:url(img/carousel-story-1.jpg)" class="article__thumb">
            <a href="#app/article/1" class="article__link"></a>
            <div class="article__meta">
              <h4 class="article__title">Lorem ipsum dolor sit amet adipiscing api</h4>
              <span class="article__source-time">soccer.com - 2h ago</span>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="article article__slide">
          <span class="article__countries">
            <span class="article__country article__country_spain">SPAIN</span>
          </span>

          <div style="background-image:url(img/carousel-story-1.jpg)" class="article__thumb">
            <a href="#app/article/1" class="article__link"></a>
            <div class="article__meta">
              <h4 class="article__title">Lorem ipsum dolor sit amet adipiscing api</h4>
              <span class="article__source-time">soccer.com - 2h ago</span>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="article article__slide">
          <span class="article__countries">
            <span class="article__country article__country_spain">SPAIN</span>
          </span>
          <div style="background-image:url(img/carousel-story-1.jpg)" class="article__thumb">
            <a href="#app/article/1" class="article__link"></a>
            <div class="article__meta">
              <h4 class="article__title">Lorem ipsum dolor sit amet adipiscing api</h4>
              <span class="article__source-time">soccer.com - 2h ago</span>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

    <div class="ad ad_320"></div>

    <div class="title-bar">YOUR TEAMS</div>

    <div class="articles-grid">

      <div class="row">
        <div class="article article__grid col">
          <span class="article__countries">
            <span class="article__country article__country_germany">GERMANY</span>
            <span class="article__country article__country_england">ENGLAND</span>
          </span>
          <div style="background-image:url(img/article-small-1.jpg)" class="article__thumb">
            <a href="#app/article/1" class="article__link"></a>
            <div class="article__meta">
              <h4 class="article__title">Lorem ipsum dolor sit amet adipiscing api</h4>
              <span class="article__source-time">soccer.com - 2h ago</span>
            </div>
          </div>
        </div>

        <div class="article article__grid col">
          <span class="article__countries">
            <span class="article__country article__country_spain">SPAIN</span>
            <span class="article__country article__country_england">ENGLAND</span>
          </span>

          <div style="background-image:url(img/article-small-2.jpg)" class="article__thumb">
            <a href="#app/article/1" class="article__link"></a>
            <div class="article__meta">
              <h4 class="article__title">Lorem ipsum dolor sit amet adipiscing api</h4>
              <span class="article__source-time">soccer.com - 2h ago</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="article article__grid col">
          <span class="article__countries">
            <span class="article__country article__country_germany">GERMANY</span>
            <span class="article__country article__country_england">ENGLAND</span>
          </span>
          <div style="background-image:url(img/article-small-1.jpg)" class="article__thumb">
            <a href="#app/article/1" class="article__link"></a>
            <div class="article__meta">
              <h4 class="article__title">Lorem ipsum dolor sit amet adipiscing api</h4>
              <span class="article__source-time">soccer.com - 2h ago</span>
            </div>
          </div>
        </div>

        <div class="article article__grid col">
          <span class="article__countries">
            <span class="article__country article__country_spain">SPAIN</span>
            <span class="article__country article__country_england">ENGLAND</span>
          </span>

          <div style="background-image:url(img/article-small-2.jpg)" class="article__thumb">
            <a href="#app/article/1" class="article__link"></a>
            <div class="article__meta">
              <h4 class="article__title">Lorem ipsum dolor sit amet adipiscing api</h4>
              <span class="article__source-time">soccer.com - 2h ago</span>
            </div>
          </div>
        </div>
      </div>

      <div class="ad ad_320 ad_320_shoe ad_grid"></div>

      <div class="row">
        <div class="article article__grid col">
          <span class="article__countries">
            <span class="article__country article__country_germany">GERMANY</span>
            <span class="article__country article__country_england">ENGLAND</span>
          </span>
          <div style="background-image:url(img/article-small-1.jpg)" class="article__thumb">
            <a href="#app/article/1" class="article__link"></a>
            <div class="article__meta">
              <h4 class="article__title">Lorem ipsum dolor sit amet adipiscing api</h4>
              <span class="article__source-time">soccer.com - 2h ago</span>
            </div>
          </div>
        </div>

        <div class="article article__grid col">
          <span class="article__countries">
            <span class="article__country article__country_spain">SPAIN</span>
            <span class="article__country article__country_england">ENGLAND</span>
          </span>

          <div style="background-image:url(img/article-small-2.jpg)" class="article__thumb">
            <a href="#app/article/1" class="article__link"></a>
            <div class="article__meta">
              <h4 class="article__title">Lorem ipsum dolor sit amet adipiscing api</h4>
              <span class="article__source-time">soccer.com - 2h ago</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="article article__grid col">
          <span class="article__countries">
            <span class="article__country article__country_germany">GERMANY</span>
            <span class="article__country article__country_england">ENGLAND</span>
          </span>
          <div style="background-image:url(img/article-small-1.jpg)" class="article__thumb">
            <a href="#app/article/1" class="article__link"></a>
            <div class="article__meta">
              <h4 class="article__title">Lorem ipsum dolor sit amet adipiscing api</h4>
              <span class="article__source-time">soccer.com - 2h ago</span>
            </div>
          </div>
        </div>

        <div class="article article__grid col">
          <span class="article__countries">
            <span class="article__country article__country_spain">SPAIN</span>
            <span class="article__country article__country_england">ENGLAND</span>
          </span>

          <div style="background-image:url(img/article-small-2.jpg)" class="article__thumb">
            <a href="#app/article/1" class="article__link"></a>
            <div class="article__meta">
              <h4 class="article__title">Lorem ipsum dolor sit amet adipiscing api</h4>
              <span class="article__source-time">soccer.com - 2h ago</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ad ad_320 ad_320_beer"></div>

    <div class="title-bar">EURO2016 PÅ WEBBEN</div>

    <div class="cards">
      <div class="list card">
        <div class="item item-body">
          <a href="#app/article/1"><img class="cards__image" src="img/card-image-1.jpg"></a>
          <h2 class="cards__title"><a href="#app/article/1">Lorem dot elit, sed do eiusmod tempor incididunt</a></h2>
          <p class="cards__text">Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deser anim id est.</p>
          <p class="cards__footer">
            <a href="#">uefa.com</a> - 2h ago
          </p>
        </div>
      </div>
      <div class="list card">
        <div class="item item-body">
          <h2 class="cards__title"><a href="#app/article/1">Lorem dot elit, sed do eiusmod tempor incididunt</a></h2>
          <p class="cards__text">Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deser anim id est.</p>
          <p class="cards__footer">
            <a href="#">uefa.com</a> - 2h ago
          </p>
        </div>
      </div>
      <div class="list card">
        <div class="item item-body">
          <a href="#app/article/1"><img class="cards__image" src="img/card-image-2.jpg"></a>
          <h2 class="cards__title"><a href="#app/article/1">Lorem dot elit, sed do eiusmod tempor incididunt</a></h2>
          <p class="cards__text">Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deser anim id est.</p>
          <p class="cards__footer">
            <a href="#">uefa.com</a> - 2h ago
          </p>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
