<ion-view>
  <ion-content>

    <div class="ad ad_top"></div>

    <div class="list">

      <div class="item item-divider">MORE SITES AND APPS</div>

      <a class="item item-avatar" href="#app/home">
        <img src="img/more-1.png">
        <h2>SvenskaFans Livescore</h2>
        <p>I SvenskaFans LiveScore foljer du alla dina favoritlag.</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/more-2.png">
        <h2>SvenskaFans app</h2>
        <p>Spelschema och Tabeller, Lorem Ipsum dolor sit amet</p>
      </a>

    </div>

  </ion-content>
</ion-view>
