.articles-grid {
  margin: 3px 0;
}

.article {
  position: relative;

  &.article__slide { }

  &.article__full {
    margin-top:2px;
    padding-bottom: 30px;
  }

  &.article_related {
    margin-top: 2px;
  }
}

.article__link {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

}

.article__countries {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 2;
}

.article__country {
  float: left;
  margin-right: 3px;
  padding: 6px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;

  &.article__country_spain { background-color: #ff7400; }
  &.article__country_germany { background-color: #1bbd72; }
  &.article__country_england { background-color: #4192d2; }
  &.article__country_romania { background-color: #1bbd72; }
  &.article__country_switzerland { background-color: #4192d2; }
}

.article__thumb {
  height: 210px;
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  z-index: 1;
}

.article__title {
  margin: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.article__source-time {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;

  a {
    color:#fff;
    text-decoration: none;
  }
}

.article__meta {
  position: absolute;
  bottom: 20px;
  left: 15px;
}

.article__details {
  padding: 0 15px;
}

.article__full-title {
  color: #222;
  font-size: 26px;
  font-weight: 400;
  line-height: 34px;
  margin-top: 10px !important;
  margin-bottom: 5px;
}

.article__full-meta {
  color: #aaa;
  font-size: 13px;
  font-weight: 600;
  font-style: italic;
  line-height: 18px;
}

.article__text {
  font-size: 16px;
  line-height: 23px;
  color: #222;
  font-weight: 300;
  margin: 15px 0 0;

  a {
    color: #16adff;
    font-weight: 400;
  }
}
