.popover {
  left: 7px !important;
  right: 7px !important;
  bottom: 7px !important;
  width: auto;
  height: auto;

  .bar-header {
    background: transparent;
  }
}

.team-select {
  .item-avatar > img:first-child {
    border-radius: 0;
    top: 12px;
  }

  .item {
    min-height: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    h2 { overflow: visible }

    background-image: url(../img/unchecked.png);
    background-repeat: no-repeat;
    background-position: 98% 15px;
    background-size: 34px 34px;

    @include retina(2x) {
      background-image: url(../img/unchecked@2x.png);
    }
    @include retina(3x) {
      background-image: url(../img/unchecked@3x.png);
    }

    &.team-select__team_active {
      background-image: url(../img/checked.png);


      @include retina(2x) {
        background-image: url(../img/checked@2x.png);
      }
      @include retina(3x) {
        background-image: url(../img/checked@3x.png);
      }
    }
  }
}

.team-select__title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  padding: 0 15px 0;
  text-transform: uppercase;
}


